.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 400%;
    text-align: center;
    font-weight: bold;
}


body {
    background-image: url('/img/quarter_chicken.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 90%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    text-align: left;

}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;

}

table{border-spacing:0;border-collapse:collapse}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#bdbdbd}

.spaced-table>tbody>tr>td{
    padding: 30px;
    text-align: left;
     
}

.spaced-table>thead>tr>th{
    padding: 30px;
    text-align: left;

}


.mainHeader nav {
    background-color: #57a4f8;
    height: 48px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;

}

.mainHeader nav ul li{
    float: left;
    display: inline;
    
}

.mainHeader nav a:link, .mainHeader nav a:visited{
    color: #fff;
    display: inline-block;
    padding: 15px 25px;
    height: 18px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
    background-color: #1287c3;
    text-shadow: none;
}

.mainHeader nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    padding: 3% 5%;
    margin-top: 10px;

}

a {

    text-decoration: none;
}

